APP_NAME=GOReserve
APP_ENV=local
APP_KEY=base64:VVJb8CAt9B4cEvw3OBC8jq7T90GedZvKKL+XL3TTic4=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=GOReserveDB
DB_USERNAME=root
DB_PASSWORD=

MIDTRANS_MERCHANT_ID=G537658528
MERCHANT_CLIENT_KEY=SB-Mid-client-bOc37i2KQEzrUH0g
MERCHANT_SERVER_KEY=SB-Mid-server-7bopOlTMgV4VlFL7_lkEtANR

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=capstone.project1903@gmail.com
MAIL_PASSWORD=dfomrukjvsejwwyz
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="capstone.project19@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=954879591060-2aclmefduh0ip8ofhk8sieeml0dh6erc.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URL=http://127.0.0.1:8000/auth/google/callback
